.contacts {
  background-color: $white;
  padding: 40px 0 0;
  margin: 0;
  text-align: center;
  position: relative;

  @media ($tablet) {
    padding: 44px 0 0;
  }

  @media ($desktop) {
    padding: 59px 0 0;
  }
}

.contacts__map {
  @media ($tablet) {
    width: 660px;
    height: 374px;
  }
}

.contacts__heading {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  margin: 0 0 34px;
  padding: 0;

  @media ($tablet) {
    font-size: 40px;
    line-height: 53px;
  }

  @media ($desktop) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 39px;
  }
}

.contacts__item,
.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.contacts__item {
  margin: 0 auto;
  display: inline-block;
  padding: 0;

  @media ($tablet) {
    margin: 0 29px 20px 48px;
  }

  @media ($desktop) {
    margin: 0;
  }
}

.contacts__item:last-child {
  position: relative;

  @media ($tablet) {
    margin: 0 auto;
  }

  @media ($desktop) {
    margin: 0;
  }
}

.contacts__list {
  margin: 0 0 16px;


  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  @media ($desktop) {
    padding: 0;
    margin: 0 30px 0 46px;
  }
}

.contacts__item:nth-child(1) {
  @media ($desktop) {
    margin-right: 18px;
  }
}

.contacts__item:nth-child(2) {
  margin-bottom: 4px;

  @media ($desktop) {
    order: 3;
    margin-bottom: 0;
  }
}

.contacts__item:nth-child(3) {
  @media ($desktop) {
    order: 2;
  }
}

.contacts__description {
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  font-weight: 700;
  margin: 0;

  @media ($tablet) {
    margin: 0 0 3px;
  }

  @media ($desktop) {
    margin: 0 0 20px;
  }
}

.contacts__type {
  display: block;
  font-size: 24px;
  line-height: 33px;
  padding: 0;
  margin: 0 0 17px;
  font-weight: 300;
  color: $pink;

  text-decoration: none;

  @media ($tablet) {
    margin: 0 0 22.5px;
    line-height: 33px;
  }

  @media ($desktop) {
    margin: 0 0 20px;
  }
}

// .contacts__item--decorative::after {
.contacts::after {
  content: url("/img/triangle.svg");

  position: absolute;
  left: 0;
  top: 321px;

  @media ($tablet) {
    content: url("/img/triangle-t.png");
    left: 0;
    top: 350px;
    z-index: 1;
  }

  @media ($desktop) {
    content: url("/img/triangle-d.png");
    top: 345px;
    z-index: 1;
  }
}

.contacts__map-mobile {
  @media ($tablet) {
    display: none;
  }
}

.contacts__map-tablet {
  display: none;

  @media ($tablet) {
    display: block;
  }

  @media ($desktop) {
    display: none;
  }
}

.contacts__map-desktop {
  display: none;

  @media ($desktop) {
    display: block;
  }
}
