.contacts {
  background-color: $white;
  padding: 40px 0 0;
  margin: 0;
  text-align: center;

  @media (min-width: 660px) {
    padding: 45px 0 0;
    position: relative;
  }
}

.contacts::after {
  @media (min-width: 660px) {
    content: url("/img/triangle-t.png");
    left: 0;
    top: 350px;
    display: block;
    position: absolute;
  }
}

.contacts__map {
  @media (min-width: 660px) {
    width: 660px;
    height: 374px;
  }
}

.contacts__heading {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  margin: 0 0 37px;
  padding: 0;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 53px;
  }
}

.contacts__item,
.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.contacts__list {
  margin: 0 0 36px;

  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px 0 47px;
  }
}

.contacts__item {
  @media (min-width: 660px) {
    margin-bottom: 24px;
  }
}

.contacts__item:last-child {
  @media (min-width: 660px) {
    margin: 0 auto;
  }
}

.contacts__description {
  font-size: 18px;
  line-height: auto;
  padding: 0;
  font-weight: 700;
  margin: 0 0 4px;
}

.contacts__type {
  display: block;
  font-size: 24px;
  line-height: auto;
  padding: 0 20px;
  margin: 0 0 22px;
  font-weight: 300;
  color: $pink;
  z-index: 2;
}

.contacts__item--decorative {
  padding: 0;
  position: relative;
  line-height: 30px;

  .contacts__description {
    padding: 0;
    margin: 0;
  }
}

// .contacts__item--decorative::after {
//   display: block;
//   content: url("/img/triangle.svg");
//   bottom: -80px;
//   z-index: -1;
//   position: absolute;
//   @media (min-width: 660px) {
//     content: url("/img/triangle-t.png");
//     left: 0;
//     top: 200px;
//   }
// }

// .contacts__map {
//   z-index: 1;
// }
