.cta {
  margin: 0;
  padding: 23px 0 31px;
  position: relative;
  background-color: $dark;
  min-height: 667px;

  @media (min-width: 660px) {
    padding: 93px 20px 0;
    min-height: 619px;
  }

  @media (min-width: 1200px) {
    padding: 100px 130px 0;
    min-height: 743px;
  }
}

.cta__block {
  padding: 0 20px;
  display: flex;
  min-height: 613px;
  flex-direction: column;


  @media (min-width: 660px) {
    width: 300px;
    padding: 0;
    margin: 0;
    min-height: 411px;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    padding: 0;
    margin: 0;
    min-height: 411px;
    justify-content: space-between;
    width: 300px;
  }
}

.cta__heading {
  margin: 0 0 auto;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $white;

  @media (min-width: 660px) {
    margin: 0 0 19px;
    font-size: 40px;
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    margin: 0 0 36px;
    font-size: 50px;
    line-height: 68px;
    padding: 0;
  }
}

.cta__img {
  position: absolute;
  left: 0;
  top: 110px;

  &--mobile {
    @media (min-width: 660px) {
      display: none;
    }
  }

  &--tablet {
    @media (min-width: 0) {
      display: none;
    }

    @media (min-width: 660px) {
      display: block;
      left: 0;
      top: 74px;
      z-index: 0;
      position: absolute;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: 660px) {
      display: none;
    }

    @media (min-width: 1200px) {
      display: block;
      left: 146px;
      top: 98px;
      z-index: 0;
      position: absolute;
    }
  }
}

.cta__button {
  margin-bottom: 18px;

  @media (min-width: 660px) {
    z-index: 2;
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 53px;
    font-size: 21px;
  }
}

.cta__market-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 38px 0;
  margin-bottom: 18px;
  align-items: flex-start;
  list-style: none;

  @media (min-width: 660px) {
    justify-content: start;
    padding: 0 46px 0;
    z-index: 2;
  }

  @media (min-width: 1200px) {
    padding: 0 47px 0;
    margin-bottom: 49px;
  }
}

.cta__market {
  display: block;
}

.cta__market--apple {
  padding: 0;

  @media (min-width: 660px) {
    margin-right: 35px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    margin-right: 34px;
    padding: 0;
  }
}

.cta__market--android {
  margin-top: 6px;

  @media (min-width: 660px) {
    margin-right: 35px;
    margin-top: 6px;
  }

  @media (min-width: 1200px) {
    margin: 8px 36px 0 0;
  }
}

.cta__market--ms {
  margin-top: 12px;

  @media (min-width: 660px) {
    margin-top: 9px;
  }

  @media (min-width: 1200px) {
    margin: 12px 1px 0;
  }
}

.cta__paragraph {
  color: $white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;

  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 24px;
    z-index: 2;
  }
}
