.price {
  padding: 102px 0 45px;
  margin: 0;
  min-height: 457px;
  position: relative;
  background: linear-gradient(177deg, transparent 4.8%, $grey-bg 4.9%);

  @media (min-width: $tablet) {
    padding: 98px 0 0;
    margin: 0;
    background: linear-gradient(177deg, transparent 9.8%, $grey-bg 9.9%);
    min-height: 386px;
  }

  @media (min-width: $desktop) {
    min-height: 554px;
    padding: 177px 0 0;
    background: linear-gradient(175.2deg, transparent 19%, $grey-bg 19.1%);
    // clip-path: polygon(0 18.7%, 100% 0, 100% 100%, 0% 100%);
  }
}

.price__table-slider {
  width: 100%;
  overflow: hidden;

  @media (min-width: $tablet) {
    overflow: visible;
  }
}

// .price__slider-dots {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 126px;
//   margin: 0 auto;

//   @media (min-width: $tablet) {
//     display: none;
//   }
// }

// .price__slider-dots {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 113px 0 109px;
//   margin: 0 auto;
//   align-items: center;

//   @media (min-width: $tablet) {
//     display: none;
//   }

//   @media (min-width: $desktop) {
//     display: none;
//   }
// }
