.price {
  background-color: $white;
  padding: 125px 0 45px;
  margin: 0;
  // background-image: url("/img/grey-background2.png");
  // background-repeat: no-repeat;
  min-height: 457px;
  position: relative;

  @media (min-width: 660px) {
    padding: 98px 0 0;
    margin: 0;
    // background-position: 0 0;
    // background-size: cover;
    // background-image: url("/img/grey-background-price-t.png");
    background-color: $grey-bg;
    min-height: 386px;
    clip-path: polygon(0 10.7%, 100% 0, 100% 100%, 0% 100%);
  }
}

.price__table-slider {
  width: 100%;
  overflow: hidden;

  @media (min-width: 660px) {
    overflow: visible;
  }
}

.price__slider-dots {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  margin: 0 auto;

  @media (min-width: 660px) {
    display: none;
  }
}
