.proof {
  display: none;

  @media ($tablet) {
    display: grid;
    background-color: $white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    z-index: 2;
    position: relative;
    padding: 95px 0;
  }

  @media ($desktop) {
    background-color: $grey-bg;
    grid-template-columns: 1fr 570px;
    min-height: 444px;
    padding: 123px 0 0;
    margin: 0;
    grid-template-rows: min-content min-content min-content;
  }
}

.proof__header {
  @media ($tablet) {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 10px;
    padding: 0;
  }

  @media ($desktop) {
    margin: 0 0 22px 0;
    padding: 0;

    br {
      display: none;
    }
  }
}


.proof__br-desktop {
  display: none;

  @media ($desktop) {
    display: block;
  }
}

.proof__paragraph {
  @media ($tablet) {
    grid-column: 2/-1;
    grid-row: 2/3;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
    padding: 0;
  }

  @media ($desktop) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;

    .proof__br-tablet {
      display: none;
    }
  }
}

.proof__link {
  @media ($tablet) {
    grid-column: 2/-1;
    grid-row: 3/4;
  }

  @media ($desktop) {
    color: $pink;
    font-size: 18px;
    line-height: 30px;
  }
}

.proof__img {
  @media ($tablet) {
    grid-column: 1/2;
    grid-row: 1/-1;
    position: absolute;
    left: 0;
    top: -41px;
    z-index: 1;
  }

  @media ($desktop) {
    display: none;
  }
}

.proof__img-desktop {
  display: none;

  @media ($desktop) {

    position: absolute;
    left: 131px;
    top: 32px;
    z-index: 1;
    display: block;
  }
}
