.proof {
  display: none;

  @media (min-width: 660px) {
    display: grid;
    background-color: $white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    z-index: 2;
    position: relative;
    padding: 95px 0;
  }

  @media (min-width: 1200px) {
    background-color: $grey-bg;
    min-height: 444px;
    padding: 123px 170px 0 0;
    margin: 0;
    grid-template-rows: min-content min-content min-content;
  }
}

.proof__header {
  @media (min-width: 660px) {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 10px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    margin: 0 0 22px;
    padding: 0;

    br {
      display: none;
    }

  }
}


.proof__br-desktop {
  display: none;

  @media (min-width:1200px) {
    display: block;

  }
}

.proof__paragraph {
  @media (min-width: 660px) {
    grid-column: 2/-1;
    grid-row: 2/3;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
    padding: 0;


  }

  @media (min-width: 1200px) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
margin-bottom: 32px;
    .proof__br-tablet {
      display: none;
    }
  }
}


.proof__link {
  @media (min-width: 660px) {
    grid-column: 2/-1;
    grid-row: 3/4;
  }

  @media (min-width: 1200px) {
    color: $pink;
    font-size: 18px;
    line-height: 30px;
  }
}

.proof__img {
  @media (min-width: 660px) {
    grid-column: 1/2;
    grid-row: 1/-1;
    position: absolute;
    left: 20px;
    top: -41px;
    z-index: 1;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.proof__img-desktop {
  display: none;

  @media (min-width: 1200px) {

    position: absolute;
    left: 131px;
    top: 32px;
    z-index: 1;
    display: block;

  }
}
