.proof {
  display: none;

  @media (min-width: $tablet) {
    background-color: $white;
    padding: 95px 0;
    display: block;
  }

  @media (min-width: $desktop) {
    background-color: $grey-bg;
    min-height: 444px;
    padding: 123px 0 0;
  }
}

.proof__container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    z-index: 2;
    position: relative;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 570px;
    margin: 0;
    grid-template-rows: min-content min-content min-content;
  }
}

.proof__header {
  @media (min-width: $tablet) {
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 10px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 22px 0;
    padding: 0;

    br {
      display: none;
    }
  }
}

.proof__br-desktop {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.proof__paragraph {
  @media (min-width: $tablet) {
    grid-column: 2/-1;
    grid-row: 2/3;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;

    .proof__br-tablet {
      display: none;
    }
  }
}

.proof__link {
  @media (min-width: $tablet) {
    grid-column: 2/-1;
    grid-row: 3/4;
    color: $pink;
    font-size: 14px;
  }

  @media (min-width: $desktop) {
    color: $pink;
    font-size: 18px;
    line-height: 30px;
  }
}

.proof__img {
  @media (min-width: $tablet) {
    grid-column: 1/2;
    grid-row: 1/-1;
    position: absolute;
    left: 0;
    top: -41px;
    z-index: 1;
  }

  @media (min-width: $desktop) {
    width: 298px;
    height: 345px;
    position: absolute;
    left: 0;
    top: -90px;
    z-index: 1;
    display: block;
  }
}

// .proof__img-desktop {
//   display: none;

//   @media (min-width: $desktop) {
//     width: 298px;
//     height: 345px;
//     position: absolute;
//     left: 0;
//     top: -90px;
//     z-index: 1;
//     display: block;
//   }
// }
