.review {
  z-index: 2;
  background-color: $white;
  padding: 46px 0 11px;
  margin: 0;
  min-height: 343px;

  @media (min-width: $tablet) {
    margin: 0;
    min-height: 278px;
    padding: 31px 0 14px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 185px 0 0;
    display: flex;
    flex-direction: column;
  }
}

.review__quote {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 217px;
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 2px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: 0 120px;
    min-height: 200px;
    flex-direction: row;
  }
}

.review__button {
  display: none;

  @media (min-width: $desktop) {
    position: absolute;
    background-color: transparent;
    border: none;
  }
}

.review__button:hover path {
  fill: $dark-op6;
  opacity: 1;
}

.review__button:active path {
  fill: $dark-op1;
  opacity: 1;
}

.review__button--back {
  left: -3px;
  top: 28px;
}

.review__button--next {
  right: -3px;
  top: 28px;
}

.review__author-name::after {
  @media (min-width: $desktop) {
    content: url("/img/quotes.svg");
    position: absolute;
    left: 431px;
    top: -112px;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: column;
}

.review__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: block;
  margin: 0 0 17px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
    order: 1;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 3px;
    order: 1;
  }
}

.review__author-info {
  display: none;

  @media (min-width: $tablet) {
    text-align: center;
    font-style: normal;
    display: block;
    order: 2;
    font-size: 14px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6px;
    order: 1;
  }
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 30px;
    order: 1;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 34px;
  }
}

.review__author {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    order: 2;
  }
}
