.review {
  position: relative;
  z-index: 2;
  background-color: $white;
  padding: 46px 20px 11px;
  margin: 0;

  @media (min-width: 660px) {
    margin: 0;
    padding: 31px 0 14px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 185px 0 0;
    min-height: 405px;
    display: flex;
    flex-direction: column;
  }

}

.review::after {
  @media (min-width: 1200px) {
    content: url("/img/quotes.svg");
    position: absolute;
    left: 50%;
    top: 100px;
  }
}

.review__quote {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 217px;
  position: relative;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 2px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    padding: 0 220px;
  }
}

.review__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: block;

  @media (min-width: 660px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
    order: 1;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2px;
    order: 1;
  }
}

.review__author-info {
  display: none;

  @media (min-width: 660px) {
    text-align: center;
    font-style: normal;
    display: block;
    order: 2;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6px;
    order: 1;
  }
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;


  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
    order: 1;
    margin-bottom: 35px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 36px;
  }
}

.review__author {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    order: 2;
  }
}


.review__slider-dots {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  margin: 0 auto;
  @media (min-width: 660px) {
    margin: 0 187px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
