.table {
  translate: -260px;
  width: 832px;
  margin: 0 0 40px;
  table-layout: fixed;
  z-index: 2;
  border-collapse: collapse;

  @media (min-width: 660px) {
    width: 620px;
    translate: 20px;
  }
}

// ширина трёх колонок
.table__column {
  background: $dark;
  width: 276px;
  padding: 13px 0 28px;

  background-clip: padding-box;

  @media (min-width: 660px) {
    width: 155px;
    padding: 0;
  }
}

.table__header {
  font-size: 16px;
  // line-height: 27px;
  color: $white;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 660px) {
    padding: 12px 10px 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

.table__subheader {
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 300;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-height: 660px) {
    padding-bottom: 7px;
  }
}

.table__column--hit {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.table__column--hit::before {
  content: "Хит";
  position: absolute;
  left: 13px;
  top: 22px;
  z-index: 12;
  color: $white;
  transform: rotate(-45deg);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-height: 660px) {
    left: 8px;
    top: 17px;
  }
}

.table__column--hit::after {
  content: url("/img/hit-ribbon.svg");
  position: absolute;
  left: -2px;
  top: 0;

  @media (min-height: 660px) {
    content: url("/img/hit-ribbon-t.svg");
    left: 0;
  }
}

// заголовки строк - розовый фильтр.. вот это вот всё..
.table__rowheader {
  width: 153px;

  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  background-color: $white;
  background-clip: padding-box;
  font-weight: 400;

  @media (min-height: 660px) {
    height: 47px;
  }
}

// паддинги для строк
.table__row td {
  padding: 20px 0 23px 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;

  @media (min-width: 660px) {
    padding: 0;
  }
}

.table__row {
  position: relative;

  // @media (min-width: 660px) {

  // }
}

.table__mobile {
  @media (min-width: 660px) {
    display: none;
  }

}

.table__mobile--filter {

  right: 295px;
  top: 17px;
  position: absolute;
  display: block;
}

.table__smile--standart {

  right: 295px;
  top: 18px;
  position: absolute;
  display: block;
}

.table__smile--base {
  display: none;

  @media (min-width: 660px) {
    display: block;
    left: 12px;
    top: 0;
  }
}

.table__smile--unlim {
  display: none;

  @media (min-width: 660px) {
    display: block;
    left: 12px;
    top: 0;
  }
}

.table__mobile--comments {

  right: 297px;
  top: 15px;
  position: absolute;
  display: block;
}


.table th {
  border: 2px solid $grey;
}

.table td {
  border-collapse: collapse;
  border: 2px solid $grey;
  background-color: $white;
  background-clip: padding-box;
}

.table .table__none {
  border-style: none;
}
