.table {
  translate: -260px;
  width: 832px;
  margin: 0 0 40px;
  table-layout: fixed;
  z-index: 2;
  border-collapse: collapse;

  @media (min-width: 660px) {
    width: 620px;
    translate: 20px;
    margin: 0;
  }

  @media (min-width: 1200px) {
    width: 940px;
    translate: 0;
    margin: 0 auto;
  }
}

// ширина трёх синих колонок
.table__column {
  background: $dark;
  width: 276px;
  padding: 13px 0 28px;

  background-clip: padding-box;

  @media (min-width: 660px) {
    width: 155px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    width: 236px;
    padding: 4px 0 13px;
  }
}

.table__header {
  font-size: 16px;
  // line-height: 27px;
  color: $white;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 660px) {
    padding: 12px 10px 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }

  @media (min-width: 1200px) {
    padding: 12px 10px 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.table__subheader {
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 300;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-height: 660px) {
    padding-bottom: 7px;
  }

  @media (min-height: 660px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.table__column--hit {
  position: relative;
  border: none;
  margin: 0;


}

.table__column--hit::before {
  content: "Хит";
  position: absolute;
  left: 13px;
  top: 22px;
  z-index: 12;
  color: $white;
  transform: rotate(-45deg);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-height: 660px) {
    left: 7px;
    top: 17px;
  }
}

.table__column--hit::after {
  content: url("/img/hit-ribbon.svg");
  position: absolute;
  left: -2px;
  top: 0;

  @media (min-height: 660px) {
    content: url("/img/hit-ribbon-t.svg");
    left: 0px;
    top: -2px;


  }
}

// заголовки строк - розовый фильтр.. вот это вот всё..
.table__rowheader {
  width: 153px;

  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  background-color: $white;
  background-clip: padding-box;
  font-weight: 400;

  @media (min-height: 660px) {
    height: 47px;
  }

  @media (min-height: 660px) {
    font-size: 18px;
    line-height: 30px;
    padding: 15px 0 15px 20px;
  }
}

// паддинги для строк
.table__row td {
  padding: 20px 0 23px 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;

  @media (min-width: 660px) {
    padding: 0;
  }
}

.table__row {
  position: relative;

  // @media (min-width: 660px) {

  // }
}

.table__mobile {
  @media (min-width: 660px) {
    display: none;
  }
}

td {
text-align: center;
}
// .table__pink--base {
//   display: none;

//   @media (min-width: 660px) {
//     display: block;
//     position: absolute;
//     left: 217px;
//     top: 11px;
//   }

//   @media (min-width: 1200px) {
//     display: block;
//     position: absolute;
//     left: 337px;
//     top: 20px;
//   }
// }

.table__pink--standart {


  @media (min-width: 660px) {
    display: block;
    position: absolute;
    left: 373px;
    top: 11px;
  }
  @media (min-width: 1200px) {

  }
}

.table__pink--unlim {
  display: none;

  @media (min-width: 660px) {
    display: block;
    position: absolute;
    left: 527px;
    top: 11px;
  }
  @media (min-width: 1200px) {

  }
}

.table__smile--base {
  display: none;

  @media (min-width: 660px) {
    display: block;
    position: absolute;
    left: 219px;
    top: 8px;
  }
  @media (min-width: 1200px) {

  }
}

.table__smile--standart {
  right: 295px;
  top: 18px;
  position: absolute;
  display: block;

  @media (min-width: 660px) {
    display: block;
    left: 373px;
    top: 11px;
    position: absolute;
  }
  @media (min-width: 1200px) {

  }
}

.table__smile--unlim {
  display: none;

  @media (min-width: 660px) {
    display: block;
    right: 62px;
    top: 11px;
    position: absolute;
  }
  @media (min-width: 1200px) {

  }
}

.table__comment--base {
  @media (min-height: 660px) {
    position: absolute;
    top: 8px;
    left: 219px;
  }
  @media (min-width: 1200px) {

  }
}

.table__comment--standart {
  @media (min-height: 660px) {
    position: absolute;
    top: 8px;
    left: 375px;
  }
  @media (min-width: 1200px) {

  }
}

.table__comment--unlim {
  @media (min-height: 660px) {
    position: absolute;
    top: 11px;
    right: 62px;
  }
  @media (min-width: 1200px) {

  }
}

.table .table__rowheader {
  border: 2px solid $grey;
}

.table td {
  border-collapse: collapse;
  border: 2px solid $grey;
  background-color: $white;
  background-clip: padding-box;
}

.table .table__none {
  border-style: none;
}

.table__column:nth-child(2) {
  border-top-left-radius: 3px;
}

.table__column:nth-child(3) {
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}

.table__column:last-child {
  border-top-right-radius: 3px;
}
