.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  // z-index: 2;
  // outline: 1px solid $pink;
  // background-color: wheat;

  @media (min-width: $tablet) {
    padding-left: 20px;
    padding-right: 20px;
    width: 660px;
  }

  @media (min-width: $desktop) {
    // padding: 0;
    // margin: 0;
    // width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
    margin: 0 auto;
  }
}

.container--reset {
  @media (min-width: $desktop) {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

// .container__desktop-catalog {
//   @media (min-width: $desktop) {
//     width: 1200px;
//     margin: 0 auto 90px;
//     text-align: center;
//   }
// }

.container--oftheday {
  @media (min-width: $desktop) {
    width: 1200px;
    padding: 0 130px;
    margin: 0 auto;
  }
}

.container__index {
  position: relative;

  @media (min-width: $desktop) {
    // padding: 0;
    // margin: 0;
    // width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
    margin: 0 auto;
  }
}

.container__nav {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
}

.container__layout {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 1200px;
    margin: 0 auto 12px;
    padding: 0 130px;
    row-gap: 54px;
  }
}
