.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media (min-width: $tablet) {
    padding-left: 20px;
    padding-right: 20px;
    width: 660px;
  }

  @media (min-width: $desktop) {
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
  }
}

.container--nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  min-height: 66px;

  @media (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 41px;
    min-height: 110px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0;
    min-height: 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding-left: 130px;
    // padding-right: 130px;
    // width: 1200px;
    // margin: 0 auto;
    // position: relative;
  }
}

.container--reset {
  @media (min-width: $desktop) {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.container--cta {
  position: relative;
}

.container--cta-reset {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet) {
    width: 660px;
    margin: 0 auto;
    padding: 0 20px;

    &-tablet {
      width: 300px;
      padding: 0;
      position: absolute;
      top: 203px;
    }

    &-tablet--nojs {
      top: 569px;
    }
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
    padding: 0 130px;

    &-desktop {
      top: 209px;
    }
  }
}

.container--editor {
  padding: 22px 20px 34px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 300px 260px;
    grid-template-rows: min-content min-content;
    padding-bottom: 54px;
    column-gap: 45px;
    // min-height: 400px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 19px 60px 32px 80px;
    grid-template-columns: 1fr 410px;
    column-gap: 0;
  }
}

// .container--oftheday {
//   width: 320px;
//   padding: 0;
//   position: relative;

//   @media (min-width: $tablet) {
//     width: 660px;
//   }

//   @media (min-width: $desktop) {
//     width: 1200px;
//   }
// }

.container--oftheday {
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0;
}

.container--oftheday::after {
  content: "Панорама дня";
  position: absolute;
  right: 20px;
  top: 0;
  color: $white;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  background-color: $pink;
  padding: 5px 20px 7px 19px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    top: 57px;
  }

  @media (min-width: $desktop) {
    right: 130px;
    // top: 54px;
    top: 55px;
  }
}

.container--index {
  position: relative;
}

.container--layout {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    // width: 1200px;
    margin-bottom: 12px;
    row-gap: 54px;
  }
}
