.container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media (min-width: $tablet) {
    padding-left: 20px;
    padding-right: 20px;
    width: 660px;
  }

  @media (min-width: $desktop) {
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
  }
}
