.cta {
  margin: 0;
  padding: 23px 20px 30px;
  position: relative;
}

.cta__heading {
  margin: 0 0 344px;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $white;
}

.cta__img-top {
  position: absolute;
  left: 103px;
  top: 143px;
}

.cta__img-bottom {
  position: absolute;
  left: 0;
  top: 110px;
}

.cta__button {
  margin-bottom: 32px;
}

.cta__market-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 38px 0;
  margin-bottom: 23px;
  align-items: center;
}

.cta__svg {
  display: block;

  &--android {
    padding-top: 5px;
  }

  &--ms {
    padding-top: 11px;
  }
}

.cta__paragraph {
  color: $white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
