.navigation {
  display: none;
}

.navigation__list,
.navigation__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__list {
  position: absolute;
  left: 0;
  top: 69px;
  width: 100%;
  background-color: $dark;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
  }
}

.navigation__item {
  display: block;
  box-shadow: 0 1px 0 $black, inset 0 2px 0 $black-op15;

  a {
    padding: 20px 0;
    display: block;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid transparent;
  }

  @media (min-width: $desktop) {
    box-shadow: none;
    padding: 0;
    margin: 0;

    a {
      color: $white;
      text-decoration: none;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }
}

.navigation__item:not(:last-child) {
  @media (min-width: $desktop) {
    margin-right: 75px;
  }
}

.navigation__item a:hover {
  @media (min-width: $desktop) {
    border-bottom: 2px solid $white;
  }
}

.navigation__toggle {
  content: "";
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  top: 23px;

  @media (min-width: $tablet) {
    right: 160px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
