.navigation {
  display: block;
}

.navigation--toggle {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.navigation__list,
.navigation__item {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.navigation__list {
  width: 100%;
  background-color: $dark;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    top: 111px;
  }

  @media (min-width: $desktop) {
    position: static;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    padding-top: 11px;
  }
}

.navigation__item a {
  color: $white;
  text-decoration: none;
  display: block;
  box-shadow: 0 1px 0 $white-op15 inset, 0 -1px 0 $black inset;
  font-weight: 700;
  padding: 15px 0 17px;

  &:hover {
    color: $pink;
  }

  @media (min-width: $desktop) {
    box-shadow: none;
    padding: 0 0 10px;
    border-bottom: 2px solid transparent;
    margin: 0;
    width: max-content;
    font-weight: 400;

    a {
      color: $white;
      text-decoration: none;
      padding: 0;
      margin: 0;
    }
  }
}

.navigation__item .navigation__current {
  @media (min-width: $desktop) {
    border-bottom: 2px solid $white;
  }
}

.navigation__item a:active {
  color: $pink-op3;

  @media (min-width: $desktop) {
    color: $white-op3;
  }
}

.navigation__item:not(:last-child) {
  @media (min-width: $desktop) {
    margin-right: 79px;
  }
}

.navigation__toggle {
  content: "";
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  top: 23px;

  @media (min-width: $tablet) {
    right: 160px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
