.page-header {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 22px 20px 21px;

  img {
    display: block;
  }

  a {
    margin: 0;
    padding: 0;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
}
