.page {
  background-color: $grey;
}

.page__body {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $dark;
  color: $dark;
  margin: 0 auto;
  width: 320px;
  background-image: url("/img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;


  @media (min-width: 660px) {
    width: 660px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
