.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $black-op3;
}

.page-header--no-opacity {
  background-color: $dark;

  @media (min-width: $desktop) {
    background-color: $black-op3;
  }
}

// ! NOJS HERE
.page-header--nojs {
  position: relative;

  @media (min-width: $desktop) {
    background-color: $black-op3;
    position: absolute;
  }
}

.page-header__close--nojs {
  display: none;
}
// ! NOJS ^__^

.page-header__container {
  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 27px 130px 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    min-height: 110px;
  }
}

.page-header__close:hover path {
  fill: $pink;
}

.page-header__close:active path {
  fill: $pink-op3;
}

.page-header__close {
  background-color: transparent;
  border: none;
  margin-right: -3px;

  @media (min-width: $desktop) {
    display: none;
  }
}

// ! логотип и все его состояния

.page-header__logo {
  display: inline;
  fill: $white;

  use:nth-child(2) {
    display: none;
  }

  use:last-child {
    display: none;
  }

  @media (min-width: 660px) {
    svg {
      width: 145px;
      height: 40px;
    }

    use:first-child {
      display: none;
    }

    use:nth-child(2) {
      display: inline-block;
    }
  }

  @media (min-width: 1200px) {
    svg {
      width: 147px;
    }

    use:nth-child(2) {
      display: none;
    }

    use:last-child {
      display: inline-block;
    }
  }
}

.page-header__logo:hover svg {
  fill: $pink;
}

.page-header__logo:active svg {
  fill: $white;
  opacity: 0.3;
}
