.social {
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 3px 0 0;
    display: flex;
    justify-content: space-between;
  }
}

.social__item {
  padding-right: 8px;

  svg {
    display: block;
  }

  a {
    text-align: center;
    border: 3px solid $blue-op;
    width: 53px;
    height: 53px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    padding-right: 9px;
  }

  @media (min-width: $desktop) {
    padding-right: 6px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.social__item:last-child {
  padding-right: 0;
}

.social__link-youtube {
  padding-left: 5px;
}


.social__item a:hover {
  border: 3px solid $dark;
}

.social__item:active a {
  border: 3px solid $dark-op1;
}

.social__item:active path {
  fill: $pink-op3;
}
