.upload {
  padding: 5px 0 0;
  background-color: $white;
}

.upload__heading,
.upload__paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  padding: 0;
  margin: 0;
}

.upload__paragraph {
  margin-bottom: 40px;
}
