$darkgrey: #292929;
$grey: #e5e5e5;
$white: #ffffff;
$pink: #d22856;
$pink-op3: rgba(210, 40, 86, 0.3);
$blue-op: rgba(#283645, 0.1);
$black-op15: rgba(255, 255, 255, 0.15);
$black-op3: rgba(0, 0, 0, 0.3);
$lightgrey: #f2f2f2;
$black: #000000;
$dark: #283645;
$dark-op1: rgba(40, 54, 69, 0.1);
$dark-op3: rgba(40, 54, 69, 0.3);
$dark-op5: rgba(40, 54, 69, 0.5);
$dark-op6: rgba(40, 54, 69, 0.6);
$extradark: #1d2631;
$green: #2aab6d;
$greenhover: #1c9b5e;
$grey-bg: #f2f2f2;
$black-op1: rgba(255, 255, 255, 0.1);
$white-op15: rgba(255, 255, 255, 0.15);
$white-op3: rgba(255, 255, 255, 0.3);
