$darkgrey: #292929;
$grey: #e5e5e5;
$white: #ffffff;
$maindarkblue: #1d2631;
$pink: #d22856;
$blue-op: rgba(#283645, 0.1);
$black-op15: rgba(255, 255, 255, 0.15);
$black-op3: rgba(0, 0, 0, 0.3);
$lightgrey: #f2f2f2;
$black: #000000;
$dark: #283645;
$green: #2aab6d;
$grey-bg: #f2f2f2;
